:host{

  .label{
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0 0 20px;
  }
  .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;


    .header-container{
      // margin: 0 30px 20px 20px;

      padding:0 20px 20px 20px;
      font-size: 14px;
      display: flex;
      gap: 15px;
       .order-info-container{
          background-color: #fff;
          min-height: 44vh;
          flex: 1;
          padding: 16px;

       }
       .transit-container{
          background-color: #fff;
          min-height: 44vh;
          flex: 1.5;
       }
    }

    .content-container{
      margin: 0 20px 30px 20px;
      background-color: #fff;
      padding: 24px;
      font-size: 14px;
      min-height: 44vh;


    }
  }

}
