:host{
  .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    display: flex;
    gap: 10px;

    .title{
      font-size: 20px;
      font-weight: 500;
      color: #575554;
    }

    .charts{
      flex: 2;
      height: 100%;
      background-color: #fff;
      padding: 16px;

      .detail{
        .image{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: solid 1px rgb(221, 219, 219);
        }
      }
    }
    .data{
      flex: 1;
      height: 100%;
      background-color: #fff;
      padding: 16px;

      .content{
        margin-top: 16px;
      }
    }
  }
}
