<div class="login-container">

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px;">
        <nz-avatar nzSize="large" nzIcon="user" style="background-color: rgb(66, 137, 212);"></nz-avatar>
        <span style="font-size: 18px; margin-left: 10px; font-weight: bold;">Login</span>
      </div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot" style="color: rgb(48, 48, 239);" (click)="openEnterEmailDialog()">Forgot password</a>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
      Or
      <a href="/register" style="color: rgb(48, 48, 239);">register now!</a>
    </form>
  </div>
