<div id="cart">
  <div class="container-fluid p-5">
    <div class="border-top"></div>
    <div style="padding: 28px 30px 24px;">
      <div class="address-header">
        <div class="address-header-content">
          <div style="display: flex; margin-right: 9px;">
            <img width="16px" height="18px" src="/assets/img/location.png" alt="">
          </div>
          <div>Địa chỉ nhận hàng</div>
        </div>
        <div style="font-size: 17px; display: flex; justify-content: space-between;">
          <nz-select [(ngModel)]="orderAddress">
            <nz-option *ngFor="let item of address" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div *ngIf="cartItems.length" class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="offset-6 col-2 d-none d-md-block">
            <p>
              <small class="text-muted">Giá</small>
            </p>
          </div>
          <div class="col-2 d-none d-md-block">
            <p>
              <small class="text-muted">Số lượng</small>
            </p>
          </div>
          <div class="col-2 d-none d-md-block">
            <p>
              <small class="text-muted">Tổng số tiền</small>
            </p>
          </div>
        </div>
        <hr class="mt-0">
      <div *ngFor="let order of orderItems; let index=index">
        <div style="font-size: 17px; color: rgb(60, 60, 226); margin: 0 0 15px 0; font-weight: bold;">Order {{index+1}} - {{order.seller.shopName}}</div>
        <div *ngFor="let item of order.items; let i=index;" class="cartItem">
          <div class="row">
            <div class="col-4 col-md-2">
              <a routerLink="/product/{{ item.product._id }}">
                <img src="{{ item.product.image }}" alt="productImage" class="img-fluid img-thumbnail">
              </a>
            </div>
            <div class="col-5 col-md-4">
              <h5>
                <a routerLink="/product/{{  item.product._id }}">{{  item.product.title }}</a>
              </h5>
              <p class="m-0">
                <span nz-icon nzType="shopping-cart"  style="font-size: 16px; color: rgb(255, 156, 43); margin-right: 5px;" ></span>
                <small class="text-muted">{{  item.product.owner.shopName }} - {{item.product.owner.shopAddress}}</small>
              </p>
            </div>
            <div class="col-1 col-md-2">
              <h6 class="">{{ convertNumberToCurrency(item.product.price) }}</h6>
            </div>
            <div class="col-2 mt-5 mt-md-0 p-0">
              <nz-input-number nzDisabled [(ngModel)]="item.quantity" [nzMin]="1" [nzMax]="item.product.amount - item.product.sold" [nzStep]="1"></nz-input-number>
              <!-- <input type="number" class="form-control" min="1" max="99" [(ngModel)]="item.quantity"> -->
            </div>
            <div class="col-1 col-md-2">
              <h6 class="font-weight-bold text-danger">{{ convertNumberToCurrency(item.product.price*item.quantity) }}</h6>
            </div>
          </div>
          <nz-divider></nz-divider>
        </div>

        <hr>
      </div>
      </div>

    </div>
    <div class="row">
      <div class="card bg-light">
        <div class="card-body">
          <div>
            <span>Phí vận chuyển: 20.000đ x {{this.orderItems.length}}</span>
          </div>
          <h5>Tổng thanh toán:
            <span class="ml-1 font-weight-bold text-danger">{{ convertNumberToCurrency(cartTotal) }}</span>
          </h5>
          <br>
          <div>Chọn hình thức thanh toán:</div>
          <nz-radio-group [(ngModel)]="paymentType" nzButtonStyle="solid" style="margin-bottom: 50px;">
            <label nz-radio-button [nzValue]="1">Thanh toán khi nhận hàng</label>
            <label nz-radio-button [nzValue]="2">Thanh toán qua Paypal</label>
          </nz-radio-group>
          <button class="btn btn-warning btn-block" (click)="checkout()" [disabled]="btnDisabled">Mua hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
