<div style="display: flex; min-height: 600px; width: 100%;">

  <aside class="aside ">
    <div class="main">
      <div *ngFor="let receiver of listReceiver" class="receiver" [ngClass]="{'selected': isSelected(receiver.user)}" (click)="changeReceiver(receiver)">
        <app-receiver [receiver]="receiver"></app-receiver>
      </div>
    </div>
  </aside>

  <div class="hero column chat-wrapper is-9 is-dark">
    <app-channel *ngIf="!isLoading" [receiver]="presentReceiver" [receiverDetail]="receiver"></app-channel>
  </div>


</div>

