<div id="registrationPage">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="signup-form">
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px;">
      <nz-avatar nzSize="large" nzIcon="shopping-cart" style="background-color: rgb(245, 131, 16);"></nz-avatar>
      <span style="font-size: 18px; margin-left: 10px; font-weight: bold;">Registration</span>
    </div>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <div *ngIf="control.errors?.['required']" >
            Please confirm your password!
          </div>
          <div *ngIf="control.errors?.['confirm']">
            Two passwords that you enter is inconsistent!
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="firstname"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>First Name</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your first name!">
        <input nz-input id="firstname" formControlName="firstname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="lastname"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>Last Name</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your last name">
        <input nz-input id="lastname" formControlName="lastname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
          <span>
           You are Seller ?
          </span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
