<div *ngIf="!isLoading" >
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div *ngFor="let control of controlArray" nz-col [nzSpan]="8" >
          <nz-form-item>
            <nz-form-label [nzFor]="control.field">{{ control.label }}</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                [formControlName]="control.field"
                [attr.id]="control.index"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
    </div>
    <div nz-row >
      <nz-form-item style="width: 100%;">
        <nz-form-label [nzFor]="'description'">Mô tả</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            rows="6"
            placeholder=""
            [formControlName]="'description'"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <div class="clearfix">
    <h4>Ảnh</h4>
    <nz-upload
      nzListType="picture-card"
      [(nzFileList)]="fileList"
      [nzShowButton]="fileList.length < 11"
      [nzPreview]="handlePreview"
    >
      <div>
        <span nz-icon nzType="plus"></span>
        <div style="margin-top: 8px">Tải lên</div>
      </div>
    </nz-upload>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzContent]="modalContent"
      [nzFooter]="null"
      (nzOnCancel)="previewVisible = false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </nz-modal>
  </div>
  <div style="display: flex; justify-content: end; margin: 20px;">
    <button nz-button nzType="primary" (click)="save()">LƯU</button></div>
  <div style="margin-top: 20px;">
    <div>
      <h4>Đánh giá : {{product?.avgRating || 0}} ({{product?.totalRate || 0}})</h4>
    </div>
    <hr>
    <div class="reviews">
      <div *ngFor="let review of product.reviews" class="review">
        <div style="padding: 1rem;">
          <div style="display: flex; align-items: center; ">
            <img [src]="review.owner.picture" alt="" width="40px" class="rounded-circle">
            <div style="font-size: 15px; font-weight: 500; margin-left: 3rem;">{{review.owner?.name || (review.owner.firstname+ ' ' + review.owner.lastname) }}</div>
          </div>
          <nz-rate style="transform: scale(0.7);" [ngModel]="review.rating" nzAllowHalf nzDisabled></nz-rate>
          <p style="margin-top: 1rem;">{{ review.description }}</p>
        </div>
        <ng-container *ngIf="!review.reply">
          <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Nhập thông tin..." [(ngModel)]="replyModel[review._id]" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="small" (click)="reply(review._id)">Trả lời</button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="review.reply">
          <div style="color: rgb(197, 189, 189);">
            <span>Phản hồi: </span>
            <span>{{review.reply}}</span>
          </div>
        </ng-container>
        <nz-divider></nz-divider>
      </div>
      <!-- <div class="card bg-light my-5">
        <div class="card-body">
          <h4 class="card-title">Add a review</h4>
          <hr>
          <div class="form">
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="myReview.title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="5" name="description" [(ngModel)]="myReview.description"></textarea>
            </div>
            <label>Rating</label>
            <br>
            <nz-rate [ngModel]="product?.avgRating || 0" nzAllowHalf></nz-rate>
            <br>
            <br>
            <button type="button" class="btn btn-info" (click)="postReview()" [disabled]="btnDisabled">Post Review</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>
<div *ngIf="isLoading">
  <span nz-icon nzType="loading" nzTheme="outline"></span>
</div>
